
@mixin hover-image {
    img{
        filter : invert(15%) sepia(94%) saturate(6251%) hue-rotate(266deg) brightness(95%) contrast(99%);
    }
}

.group:hover{
    @include hover-image;
}
.active{
    img{
        filter : invert(15%) sepia(94%) saturate(6251%) hue-rotate(266deg) brightness(95%) contrast(99%);
    }
    .text{
        color: #721DF1 !important;
    }
}
