<div class="flex items-between">
    <div class="text-xs	text-secondary-color w-16 font-bold mb-6">
        {{'menu' | translate}}
    </div>

</div>
<ng-container *ngFor="let item of menuList">
    <div 
    *hasAnyAuthority="item.authority"
    class="flex items-center gap-x-2.5 mb-6 mx-6 cursor-pointer group" 
    [routerLink]="[item.route]"
    [routerLinkActive]="'active'"
    (click)="closeMenu()"
> 
    <img [src]="item.icon" alt="" >
    <div class="text-sm	font-bold text-dark group-hover:text-primary_color text">{{item.name | translate}}</div>
</div>
</ng-container>

<div>

</div>