
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon leading-none mx-2" aria-label="Example icon-button with menu icon">
        <mat-icon>star</mat-icon>
      </button>
      <span>Hello {{username}}</span>
      <span class="example-spacer"></span>
      <div (click)="logout()" class="cursor-pointer whitespace-nowrap flex gap-x-1 ">
        <div>Logout</div>
        <button mat-icon-button class="example-icon leading-none mx-2" aria-label="Example icon-button with share icon">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      
    </mat-toolbar>