<div class="w-full">
  <div class="font-medium text-sm text-black mb-2">Select Category</div>
  <mat-form-field appearance="outline" class="custom-field">
    <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="getProduct()">
      <mat-option *ngFor="let category of categories | async;trackBy: trackByFn" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
</mat-form-field>
</div>


<div class="flex flex-wrap justify-between gap-5" *ngIf="selectedCategory">
  <div *ngFor="let product of products | async;trackBy: trackByFn">
    <div class="max-w-sm bg-white  rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <img class="rounded-lg w-80 h-60 p-4 m-auto" [src]="product.image" alt="" />
      <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.title}}</h5>


          <div class="flex items-center space-x-1 my-3">
            <svg class="w-4 h-4 text-light_highlight"  [class.text-text_yellow]="product.rating?.rate!! >= 1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-light_highlight" [class.text-text_yellow]="product.rating?.rate!! >= 2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-light_highlight" [class.text-text_yellow]="product.rating?.rate!! >= 3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-light_highlight" [class.text-text_yellow]="product.rating?.rate!! >= 4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
            <svg class="w-4 h-4 text-light_highlight" [class.text-text_yellow]="product.rating?.rate!! >= 5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
          </div>


          <div class="flex gap-x-3 items-center">
            <h5 class="mb-3 text-xl font-normal tracking-tight text-gray-900 dark:text-white">Category</h5>
            <p class="mb-3 font-bold text-xl text-gray-700 dark:text-gray-400">{{product.category}}</p>
          </div>
          <div class="flex gap-x-3 items-center">
            <h5 class="mb-3 text-xl font-normal tracking-tight text-gray-900 dark:text-white">Price</h5>
            <p class="mb-3 font-bold text-xl text-gray-700 dark:text-gray-400">{{product.price}}</p>
          </div>
          <div class="flex gap-x-3 items-center">
            <h5 class="mb-3 text-xl font-normal tracking-tight text-gray-900 dark:text-white">Count</h5>
            <p class="mb-3 font-bold text-xl text-gray-700 dark:text-gray-400">{{product.rating?.count}}</p>
          </div>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{product.description}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="loader" class="m-auto mt-3">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div *ngIf="!selectedCategory">
  <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center mt-5">
    Please Select Category
  </h3>
</div>

