//=================================================
// Select rounded corners and custom height
//=================================================

.custom-field , .custom-field-textarea{
  width: 100%;
  margin-bottom: 0.75rem; /* 12px */
}

.custom-field , .custom-field-textarea{
    .mat-mdc-form-field-flex
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-radius: 0 10px 10px 0;
    width: 100%;
  }
 }

.custom-field , .custom-field-textarea{
    .mat-mdc-form-field-flex
  .mdc-notched-outline
  .mdc-notched-outline__leading {
  border-radius: 10px 0 0 10px;
}
}
  

.custom-field .mat-mdc-form-field-flex {
  height: 54px;
}

//=================================================
// The select panel dropdown styling
//=================================================
.select-panel {
  border-radius: 10px !important;
}

.select-panel mat-option {
  font-size: 14px !important;
}

//=================================================
// InValid Style
//=================================================

.mat-form-field-invalid{
  .mat-mdc-text-field-wrapper{
    background: #FF52521F;
     border-radius: 10px;
  }
}


//=================================================
// Radio Button
//=================================================

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle,.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle{
  border-color: #721DF1 !important;
}


//=================================================
// CheckBox
//=================================================

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
  border-color: #721DF1 !important;
  background-color: #721DF1 !important;
}